mixin language
  .language&attributes(attributes)
    a.language__link.language__link_active(data-language="en") en
    span.language__separator(aria-hidden="true") /
    a.language__link(href="#ru", data-language="ru") ru
