@use 'sass:math';
@use '../../styles/common' as *;
@use '../container/container';
@use '../title/title';
@use './skills-card/skills-card';

.skills {
  &__container {
    padding-top: 100px;
    padding-bottom: 70px;

    @media (width >= 1440px) {
      padding-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 65px;

    @media (width >= 1440px) {
      margin-bottom: 60px;
    }
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
    row-gap: 76px;
    column-gap: 48px;

    @media (width >= 1440px) {
      flex-wrap: nowrap;
      column-gap: $grid-gap-width;
    }
  }

  &__column {
    &_start,
    &_center,
    &_end {
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      @media (width >= 768px) {
        width: math.div(300px, 768px - (60 * 2)) * 100%;
      }

      @media (width >= 1440px) {
        @include width-in-columns(3);
      }
    }
  }
}
