mixin copyright
  p.copyright&attributes(attributes)
    span.copyright__symbol &copy;
    span.copyright__year 2022
    a.copyright__link(
      href="https://github.com/MihailStar",
      data-i18n="footer-github"
    ) github
