include ../container/container.pug
include ./copyright/copyright.pug
include ./social/social.pug

mixin footer
  footer.footer&attributes(attributes)
    +container.footer__container
      .footer__columns
        .footer__column.footer__column_start
          .footer__copyright
            +copyright
        .footer__column.footer__column_center
          a.footer__link(
            href="https://rs.school/js-stage0",
            data-i18n="footer-rss"
          ) Rolling Scopes School
        .footer__column.footer__column_end
          .footer__social
            +social
