include ../../icon/icon.pug

mixin player
  .player(style="background-image: url('./images/video.jpg')")&attributes(attributes)
    button.player__play-button(type="button", aria-label="play")
      +icon('play')(width="130", height="130")
